.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #1C75BC;
  color: white;
}

.nav-links {
  list-style-type: none;
  display: flex;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.btn-signup {
  background-color: #F3903F;
  padding: 8px 15px;
  border-radius: 5px;
}
